services:
  chat_nginx:
    image: nginx:latest
    ports:
      - "8080:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./staticfiles:/code/static
      - /home/me/self-signed/fullchain.pem:/etc/ssl/certs/fullchain.pem 
      - /home/me/self-signed/privkey.pem:/etc/ssl/private/privkey.pem
    depends_on:
      - django
    networks:
      - web_chat

  django:
    container_name: "django-chat-backend"
    build: .
    ports:
      - "8000:8000"
    volumes:
      - ./chat:/code/chat
      - ./core:/code/core
      - ./staticfiles:/code/static
      - ./.env:/code/.env
    env_file: ./.env
    depends_on:
      - chat_redis
      - chat_postgres
    networks:
      - web_chat

  # Redis service
  chat_redis:
    image: redis:latest
    ports:
      - "6372:6379"
    networks:
      - web_chat

  chat_postgres:
    image: postgres:latest
    container_name: chat-develop-postgres-db-1
    restart: always
    environment:
      - POSTGRES_USER=devAdmin
      - POSTGRES_PASSWORD=mysecretpassword
    ports:
      - "5861:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - web_chat

volumes:
  postgres_data:

networks:
  web_chat:
